
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>YAPILACAKLAR</h4>
<br />
<p class="btn btn-info"> Başlıklarda Arama Kutucuğu</p>
<br />
<p class="btn btn-info">Yazar Görselleri Düzenlenecek</p>
<br />
<p class="btn btn-info">Grafikler</p>
<br />
<p class="btn btn-info">Vitrin Teması</p>
<br />
<p class="btn btn-info">Gelen Kutusunda Arama</p>
<br />
<p class="btn btn-info">Yetkilendirmeler</p>
<br />
<p class="btn btn-info">Hata Sayfası Layouttan Ayrılacak</p>
<br />
<p class="btn btn-info">Sözlük ve Vitrin Ayrılacak</p>
<br />
<p class="btn btn-info">Herhangi bir tablo raporlanacak</p>
<br />
<p class="btn btn-danger">Proje dosyaları sucunuya taşınacak</p>
<br />
<p class="btn btn-danger">Alan Adı Alınacak</p>
<br />
<p class="btn btn-danger">Proje canlıya taşınacak</p>
<br />
<p class="btn btn-danger">URL'de ID yerine isim gelsin</p>
<br />
<p class="btn btn-info">IFrame Ekleme</p>
<br />
<p class="btn btn-info">Sweet Alert</p>
<br />
<p class="btn btn-danger">Admin Çıkış Yap</p>
